/*******************************************************************
*
*    The Huffington Post! Stylesheet
*
*                             : 
*      Header Background      : white: #fff
*      
       Logo Heading           : rgba(47, 115, 98, 1.0);;
*
*      
*      Gray (dark)             #212121;
*      Gray medium:            #727272;
*      Gray light:             #b6b6b6;
*
********************************************************************
********************************************************************

/*-------------------------------------------------------------------
*  Nav bars TOP
*-------------------------------------------------------------------*/

 .navbar-header-1 .navbar-1 .navbar-1l .navbar-1a{
  color: rgba(51,51,51,1.0);

}

.navbar-header-1 {
  background-color: #ccc;
  border-bottom: 2px solid;
  border-bottom-color: rgba(47, 115, 98, 1.0);
  margin-top: 0;
}

 .navbar-1l {
  display: inline;
  list-style-type: none;
  margin-left: -25px;
  padding: 18px;
}

.navbar-header-1 .navbar-1 .navbar-1l .navbar-1a:hover {
  color: #fff; 
  text-decoration: none;
}

/*-------------------------------------------------------------------
*  Nav bars 2
*-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
*  Nav bars 3
*-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
*  Hero
*-------------------------------------------------------------------*/
  .hero {
    background-color: rgba(255, 255, 255, 1.0);
    margin: 0 0 40px 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;

  }

   #date {
    color: rgba(51,51,51,0.7);
    margin-top: 40px; /*----If i remove the margin my rgba opacity doesn't work?????*/
    letter-spacing: 0.05em;
    font-family: 'Adamina',serif;
  }

/*-------------------------------------------------------------------
*  Logo
*-------------------------------------------------------------------*/

  .logo {
    color: rgba(47, 115, 98, 1.0);
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Adamina',serif;
    letter-spacing: 1px;
    margin-top: 20px;

  }

.verbs, #verbs {
  color: rgba(51,51,51,0.7);
  padding-left: 4px;
  display:inline;
  font-size: 17px;
  list-style-type: circle; 
  letter-spacing: 0.05em;
}


  /*-------------------------------------------------------------------
  *  News
  *-------------------------------------------------------------------*/

  .news {
    border: 1px solid purple;
    height:100%;

  }

  .news-item {
    border: 1px solid orange;
    list-style-type: none;
    margin-left: -40px;
    text-decoration: none;
    height:100%;
  }

  .news-link {
    color: #3fb135;
    font-size: 24px;
    font-family: helvetica;
    height:100%;


  } 

  /*********I'm troubleshooting why i can't remove the underline
            after the link has been visited  uuuuuuuugggggggghhhh!!!*/

  .news .news-item .news-link:hover{
    color: #ccc;
    text-decoration: none;
  }
.news .news-item .news-link:visited{
    text-decoration: none;
  }
/*----------------------------------------------------------------
*   Content
-----------------------------------------------------------------*/


  .content {
    margin: 0 auto;
    
    width: 80%;

  }
margin-top: 20px;


/*----------------------------------------------------------------
*                  BASE
-----------------------------------------------------------------*/

  body { margin-top: 0;

  }

  #date {
    padding-bottom: 10px;
  }
  header {

  }

  h1, h2, h3, h4, h5, h6, {

  }

.verbs #verbs {
  padding-left: 4px;
  display:inline;
  font-size: 17px;
  list-style-type: circle;
}
  p {

  }

  main {

  }

  ul {

  }

  li {

  }

  footer {

  }
